@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@media screen and (max-width: 900px) {
  .form-group {width: 980px;}
  div.menu{display: grid; margin-bottom: 10px}
  .right_panel_cards .left_panel_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
  }
}


body{
  background: darkgrey;
}

img{
  width: 20px;
  height: 17px
}

.close_button{
  background-color: white;
  padding: 0
}

.form {

  position: relative;
  background: #FFFFFF;
  width: 250px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
}

.form-group label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
}
.form-group input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-group input:focus {
  color: rgba(0, 0, 0, 0.8);
}

.form-group #button {
  outline: none;
  background: #4285F4;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  margin-bottom: 10px;
  width: 400px;
}
th {
  background: #4285F4;
  color: white;
  text-shadow: 0 1px 1px #2D2020;
  padding: 5px 10px;
  font-size: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}


th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
td {
  background: rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

select{
  width: 20px;
}

