<div class="main container">
<form class="create_form form-inline" [formGroup]="addForm" (ngSubmit)="createCard()">
          <div class="create_form__inline_block form-group mx-sm-3 mb-2">
            <input class="create_form__input form-control" type="number" formControlName="num" placeholder="№ заказа" name="num"  id="text">
          </div>
          <div class="create_form__inline_block form-group mx-sm-3 mb-2">
            <input class="create_form__input form-control" type="number" formControlName="invoice" placeholder="Тов. накладная" name="invoice"  id="invoice">
          </div>
          <div class="create_form__inline_block form-group mx-sm-3 mb-2">
            <input class="create_form__input form-control" formControlName="client" placeholder="Клиент" name="client"  id="client">
             <input class="create_form__input_hidden_field" formControlName="id" name="id"  id="id" value="1" hidden>
             <input class="create_form__input_hidden_field" formControlName="flag" name="flag"  id="flag" hidden>
          </div>
          <div class="create_form__inline_block form-group mx-sm-3 mb-2" style="width: 230px">
            <input  class="create_form__input form-control"  placeholder="Время нач. выгрузки" formControlName="time" name="time" id="time" type="datetime-local" >
          </div>
          <div class="create_form__inline_block form-group mb-2">
            <button  class="create_form__button btn btn-primary" [disabled]="addForm.invalid" >Создать</button>
          </div>
</form>
<div class="content row" style="margin-top: 50px;">
    <div class="menu col-md-2">
    <div class="menu__button_group ui-grid-responsive btn-group-vertical  btn-group-xs">
        <button class="menu__button__disable btn btn-primary" type="submit"  [disabled]="true">Меню</button>
        <button class="menu__button btn btn-default" type="submit"  (click)="updateData()">Обновить</button>
        <button class="menu__button btn btn-default" type="submit"  (click)="flag()">Вкл/Выкл флаг</button>
        <button class="menu__button__disable btn btn-primary" type="submit"  [disabled]="true" >Фильтр</button>
        <button class="menu__button btn btn-default" type="submit"  (click)="order('time')">Дата</button>
        <button class="menu__button btn btn-default" type="submit"  (click)="order('client')">Клиент</button>
        <button class="menu__button btn btn-default" type="submit"  (click)="order('id')">ID</button>
      </div>
   </div>
    <div class="left_panel_cards col-md-5" dnd-sortable-container [sortableData]="cards" >
      <div class="left_panel_card" *ngFor="let card of cards; let i = index " dnd-sortable [sortableIndex]="i">
        <table class="left_panel_cards___card table table-responsive table-sm table-info" *ngIf="!(i%2)" >
           <tr class="left_panel_cards___card_fields ">
           <th class="left_panel_cards___card_field " scope="row" *ngIf="flags">Флаг</th>
           <th class="left_panel_cards___card_field" scope="row" >№ заказа</th>
           <th class="left_panel_cards___card_field" scope="row" >Тов. накладная</th>
           <th class="left_panel_cards___card_field" scope="row" >Клиент</th>
           <th class="left_panel_cards___card_field" scope="row" >Время нач. загрузки</th>
           <th class="left_panel_cards___card_field close_button" scope="row" >
           <button class="left_panel_cards___card_field close_button close" type="button"  (click)="delete(i)" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
            </button></th>
          </tr>
          <tr class="left_panel_cards___card_values" *ngIf="card.num"  >
           <td class="left_panel_cards___card_value" scope="row" *ngIf="flags">
           <form class="left_panel_cards___form_flag" *ngIf="!card.flag" class="flag_form" [formGroup]="flagForm" (change)="change(i)">
              <div class="left_panel_cards__form_flag_select">
                <select class="left_panel_cards___form_flag_option" id="flag" formControlName="flag">
                <option class="left_panel_cards___form_flag_option" disabled value="null">выберите</option>
                <option class="left_panel_cards___form_flag_option">возврат</option>
                <option class="left_panel_cards___form_flag_option">опоздала</option>
              </select>
             </div>
           </form>
           <img  class="left_panel_cards___value_flag" *ngIf="card.flag === 'опоздала'" src="../assets/ico/last.png" (click)="delFlag(i)">
           <img  class="left_panel_cards___value_flag" *ngIf="card.flag === 'возврат'" src="../assets/ico/back.png" (click)="delFlag(i)">
           </td>
           <td class="left_panel_cards___card_value" scope="row">{{ card.num }}</td>
           <td class="left_panel_cards___card_value" scope="row">{{ card.invoice }}</td>
           <td class="left_panel_cards___card_value" scope="row">{{ card.client }}</td>
           <td class="left_panel_cards___card_value" scope="row">{{ card.time }}</td>
          </tr>
        </table>
       </div>
    </div>
    <div class="right_panel_cards col-md-5" dnd-sortable-container [sortableData]="cards" >
      <div class="right_panel_card" *ngFor="let card of cards; let i = index " dnd-sortable [sortableIndex]="i">
        <table class="right_panel_cards___card table table-responsive table-sm table-info" *ngIf=" i%2 " >
           <tr class="right_panel_cards___card_fields" scope="row">
           <th class="right_panel_cards___card_field" *ngIf="flags">Флаг</th>
           <th class="right_panel_cards___card_field">№ заказа</th>
           <th class="right_panel_cards___card_field">Тов. накладная</th>
           <th class="right_panel_cards___card_field">Клиент</th>
           <th class="right_panel_cards___card_field">Время нач. загрузки</th>
           <th class="right_panel_cards___card_field close_button">
           <button class="right_panel_cards___card_field close_button close" type="button"  (click)="delete(i)" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
            </button>
           </th>
          </tr>
          <tr class="right_panel_cards___card_values" scope="row" *ngIf="card.num"  >
           <td class="right_panel_cards___card_value" *ngIf="flags">
           <form class="right_panel_cards___form_flag flag_form" *ngIf="!card.flag" [formGroup]="flagForm" (change)="change(i)">
              <div class="right_panel_cards__form_flag_select">
                <select class="right_panel_cards___form_flag_option" id="flag" formControlName="flag">
                <option class="right_panel_cards___form_flag_option" disabled value="null">выберите</option>
                <option class="right_panel_cards___form_flag_option">возврат</option>
                <option class="right_panel_cards___form_flag_option">опоздала</option>
              </select>
             </div>
           </form>
           <img  class="right_panel_cards___value_flag" *ngIf="card.flag === 'опоздала'" src="../assets/ico/last.png" (click)="delFlag(i)" >
           <img  class="right_panel_cards___value_flag" *ngIf="card.flag === 'возврат'" src="../assets/ico/back.png"  (click)="delFlag(i)">
           </td>
           <td class="right_panel_cards___card_value">{{ card.num }}</td>
           <td class="right_panel_cards___card_value">{{ card.invoice }}</td>
           <td class="right_panel_cards___card_value">{{ card.client }}</td>
           <td class="right_panel_cards___card_value">{{ card.time }}</td>
          </tr>
        </table>
       </div>
    </div>
</div>
</div>

