@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@media screen and (max-width: 750px) {
  div.menu{display: grid; margin-bottom: 10px}
  .right_panel_cards .left_panel_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
  }
}

img{
  width: 20px;
  height: 17px
}

.close_button{
  padding: 0
}

table{
  border-radius: 20px;
  text-align: center;
}

select{
  width: 20px;
}

