<div class="container">
<form class="form-inline" [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" formControlName="num" placeholder="№ заказа" name="num" class="form-control" id="text">
          </div>
          <div class="form-group">
            <input formControlName="invoice" placeholder="Тов. накладная" name="invoice" class="form-control" id="invoice">
          </div>
          <div class="form-group">
            <input formControlName="client" placeholder="Клиент" name="client" class="form-control" id="client">
             <input formControlName="id" name="id"  id="id" value="1" hidden>
             <input formControlName="flag" name="flag"  id="flag" hidden>
          </div>
          <div class="form-group" style="width: 230px">
            <input   formControlName="time" name="time" id="time" type="datetime-local">
          </div>
          <div class="form-group">
            <button [disabled]="addForm.invalid" class="btn btn-primary">Создать</button>
          </div>
</form>
<div class="row" style="margin-top: 50px;">
    <div class="col-md-2">
    <div class="btn-group-vertical">
                    <button   type="submit" class="btn btn-primary" [disabled]="true">Меню</button>
                    <button   type="submit" class="btn btn-default" (click)="updateData()">Обновить</button>
                    <button   type="submit" class="btn btn-default" (click)="flag()">Вкл/Выкл флаг</button>
                    <button   type="submit" class="btn btn-primary" [disabled]="true" >Фильтр</button>
                    <button  type="submit" class="btn btn-default" (click)="order('time')">Дата</button>
                    <button   type="submit" class="btn btn-default" (click)="order('client')">Клиент</button>
                    <button  type="submit" class="btn btn-default" (click)="order('id')">ID</button>
      </div>
   </div>
    <div dnd-sortable-container [sortableData]="cards" class="col-md-5">
      <div *ngFor="let card of cards; let i = index " dnd-sortable [sortableIndex]="i">
        <table *ngIf="i < 10" style="border-radius: 40px">
          <tr>
           <th *ngIf="flags">Флаг</th>
           <th>№ заказа</th>
           <th>Тов. накладная</th>
           <th>Клиент</th>
           <th>Время нач. загрузки</th>
           <th style="background-color: white;padding: 0">
           <button type="button" class="close" (click)="delete(i)" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
            </button></th>
          </tr>
          <tr *ngIf="card.num"  >
                <td *ngIf="flags">
                  <select>
                            <option></option>
                            <option>возврат</option>
                            <option>опоздала</option>
                  </select>
                     </td>
           <td>{{ card.num }}</td>
           <td>{{ card.invoice }}</td>
           <td>{{ card.client }}</td>
           <td>{{ card.time }}</td>
          </tr>
        </table>
       </div>
    </div>
    <div dnd-sortable-container [sortableData]="cards" class="col-md-5">
      <div  *ngFor="let card of cards; let i = index" dnd-sortable [sortableIndex]="i">
        <table *ngIf="i > 10" style="border-radius: 40px">
          <tr>
           <th *ngIf="flags">Флаг</th>
           <th>№ заказа</th>
           <th>Тов. накладная</th>
           <th>Клиент</th>
           <th>Время нач. загрузки</th>
           <th style="background-color: white;padding: 0"><button type="button" class="close" (click)="delete(i)" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button></th>
          </tr>
          <tr *ngIf="card.num"  >
           <td *ngIf="flags">
           <select>
              <option></option>
              <option>возврат</option>
              <option>опоздала</option>
            </select>
           </td>
           <td>{{ card.num }}</td>
           <td>{{ card.invoice }}</td>
           <td>{{ card.client }}</td>
           <td>{{ card.time }}</td>
          </tr>
        </table>
       </div>
    </div>
</div>
</div>
